[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
[submodule "themes/simpleness"]
	path = themes/simpleness
	url = https://github.com/RainerChiang/simpleness.git
